Repository PLAIF-dev/core_template, pull requests merged in 2023-05, with the labels that each got.

#2 #1 Adding yaml to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/chore.yaml
  .github/ISSUE_TEMPLATE/ci.md
  .github/ISSUE_TEMPLATE/ci.yaml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/refactor.yaml
  .github/ISSUE_TEMPLATE/style.md
  .github/ISSUE_TEMPLATE/style.yaml
  .github/ISSUE_TEMPLATE/test.md
  .github/ISSUE_TEMPLATE/test.yaml
Labels: documentation, enhancement

#4 chore: PR 템플릿 수정
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#6 [Feat] label template을 추가
  labels.json
Labels: enhancement

#10 전체 파일에 대해 불필요한 공백 제거 및 마지막 개행 추가
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/ci.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/refactor.yaml
  .github/ISSUE_TEMPLATE/style.md
  .github/ISSUE_TEMPLATE/style.yaml
  .github/ISSUE_TEMPLATE/test.md
  .github/ISSUE_TEMPLATE/test.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  labels.json
Labels: documentation
